{% extends 'base.html.twig' %}

{% block title %}Authors List!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Authors in Library! ✅</h1>

    List:
    <ul>
    {% for author in authors %}
        <li>{{author.name}} {{author.surname}}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
