{% extends 'base.html.twig' %}

{% block title %}Create new Book{% endblock %}

{% block body %}
    <div class="container">
   <div class="row justify-content-center">
       <div class="col-md-8">
           <div class="card">
               <div class="card-header">Create new Book</div>

               <div class="card-body">
                 <form action="{{path('book_store')}}" method="POST">
        Title:<input type="text" name="book_title">
        ISBN:<input type="text" name="book_isbn">
        Pages:<input type="text" name="book_pages">
        About:<textarea name="book_about" id="summernote"></textarea>
        <select name="book_author_id">
        <option value="0">Select author</option>
        {% for author in authors %}
        <option value="{{author.id}}">{{author.name}} {{author.surname}}</option>
        {% endfor %}
        </select>
        <button type="submit">Add new Book</button>
    </form>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock %}

